@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

  
  li a {
    color: #000000;
  }

  li a:hover {
    color: gray;
  }